.panel-control{
    grid-area: body;
    display: flex;
    flex-direction: column;
    gap: 16px;
    align-items: flex-start;
    background: white;
    height: 100%;
    padding: 16px;
    justify-content: flex-start;
    margin: 4px;
    border-radius: 4px;
    filter: drop-shadow(0px -1px 5px black);    
}
.presentation-row{
    cursor: pointer;
}

.presentation-row:hover{
    opacity: .3;
}