.home {
  width: 100%;
  display: grid;
  grid-template-areas:
      "header "
      "body ";
  height: 100%;
  grid-template-rows: auto 1fr;
  min-height: 100vh;
  flex-direction: column;
  font-size: calc(10px + 2vmin);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
    background: #2980b9 url('https://static.tumblr.com/03fbbc566b081016810402488936fbae/pqpk3dn/MRSmlzpj3/tumblr_static_bg3.png') repeat 0 0;
	-webkit-animation: 10s linear 0s normal none infinite animate;
	-moz-animation: 10s linear 0s normal none infinite animate;
	-ms-animation: 10s linear 0s normal none infinite animate;
	-o-animation: 10s linear 0s normal none infinite animate;
	animation: 10s linear 0s normal none infinite animate;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  }
  @-webkit-keyframes animate {
    from {background-position:0 0;}
    to {background-position: 500px 0;}
  }
   
  @-moz-keyframes animate {
    from {background-position:0 0;}
    to {background-position: 500px 0;}
  }
   
  @-ms-keyframes animate {
    from {background-position:0 0;}
    to {background-position: 500px 0;}
  }
   
  @-o-keyframes animate {
    from {background-position:0 0;}
    to {background-position: 500px 0;}
  }
   
  @keyframes animate {
    from {background-position:0 0;}
    to {background-position: 500px 0;}
  }
  
  code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
      monospace;
  }
  .header-home {
    grid-area: header;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 8px;
    justify-content: flex-end;
  }
  .body-home {
    grid-area: body;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-content: space-around;
    align-items: center;
    justify-content: flex-start;
    width: 95%;
    align-self: center;
    justify-self: center;
  }
.container-input-code{
    display: flex;
    flex-direction: row;
    align-items: center;
    column-gap: 10px;
    justify-content: center;
}

.img-logo-home{
    width: 60%;
    height: 100%;
}