.App {
  text-align: center;

}
.btn-custom {
  --color: black;
  font-family: inherit;   
  position: relative;
  overflow: hidden;
  border: 2px solid var(--color);
  transition: color 0.5s;
  z-index: 1;
  font-size: 17px;
  border-radius: 6px;
  font-weight: 500;
  background: transparent;
  color: var(--color);
  padding: 10px;
}

.btn-custom:before {
  content: "";
  position: absolute;
  z-index: -1;
  background: black;
  height: 105px;
  width: 300px;
  border-radius: 50%;
}

.btn-custom:hover {
  color: white;
}

.btn-custom:before {
  top: 100%;
  left: 100%;
  transition: all 0.9s;
}

.btn-custom:hover:before {
  top: -30px;
  left: -30px;
}

.btn-custom:active:before {
  background: #0d0c24;
  transition: background 0s;
}
.btn-custom.dark {
  color: #0d0c24;
}
.btn-custom.dark:hover {
  color: white;
}
.btn-custom.danger {
  color: #df5151;
}
.btn-custom.danger:hover {
  color: white;
}
.btn-custom.danger:active:before {
  background: #df5151;
  transition: background 0s;
}
.btn-custom.danger:before {
  content: "";
  position: absolute;
  z-index: -1;
  background: #df5151;
  height: 105px;
  width: 220px;
  border-radius: 50%;
}
